<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

<div class="rounded-0 mt-4" style="width: 170px;">
  <ul class="list-group">
    <li class="list-group-item sidebar-title bg-dark h5">Markalar</li>
    <hr> 
    <div class="list-group-item p-1" style="width: 170px;">
  
    <li
      (click)="setAllBrand()"
      [class]="getAllBrandClass()"
      routerLink="/cars"
    >
      Tüm Markalar
    </li>
    <li
      (click)="setCurrentBrand(brand)"
      routerLink="cars/brand/{{brand.brandId}}"
      *ngFor="let brand of brands"
      [class]="getCurrentBrandClass(brand)"
    >
      {{ brand.brandName }}
    </li>
  </div>
  </ul>

</div>
</div>


