<div class="card-header text-center rounded-0 mt-4">
  <strong> {{carDetails.brandName}} - {{ carDetails.description }} </strong>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-4 rounded-0 mt-4">
      <img src="https://localhost:44316/{{ carDetails.imagePath }}" 
      class="card-img-top" alt="..." width="600" height="410" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-body">
      <h5 class="card-title">{{ carDetails.brandName }}</h5>
    </div>
    <ul class="list-group list-group-flush" style="width: 528px">
      <li class="list-group-item">Yıl: {{ carDetails.modelYear }}</li>
      <li class="list-group-item">Marka: {{ carDetails.brandName }}</li>
      <li class="list-group-item">Açıklama: {{ carDetails.description }}</li>
      <li class="list-group-item">Renk: {{ carDetails.colorName }}</li>
      <li class="list-group-item">
        Günlük Fiyat : {{ carDetails.dailyPrice | vatAdded:18 | currency: "₺" }}
      </li>
    </ul>

    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="form-group row mb-4 mx-1">
          <label for="example-customer-input" class="col-form-label">Müşteri:</label>
        </div>
        <div class="form-group row mb-4 mx-1">
          <label for="example-date-input" class="col-form-label">Başlangıç Tarihi:</label>
        </div>
        <div class="form-group row mb-2 mx-1">
          <label for="example-date-input" class="col-form-label">Bitiş Tarihi:</label>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <select class="form-select" [(ngModel)]="customerId">
          <option [value]="customer.id" *ngFor="let customer of customers">
            {{ customer.firstName }} {{ customer.lastName }} |
            {{ customer.companyName }}
          </option>
        </select>
        <br>
        <input class="form-control" min="{{ getRentDate() }}" value="{{ getRentDate() }}" type="date"
          [(ngModel)]="rentDate" />
        <br>
        <input class="form-control" type="date" min="{{ getReturnDate() }}" value="{{ getReturnDate() }}"
          [(ngModel)]="estReturnDate" />
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="cars">
            Kapat
          </button>
          <button data-bs-dismiss="modal" (click)="createRental()" type="button" class="btn btn-primary" routerLink="payments">
            Kirala
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="alert alert-danger" calculatePrice()>Ödenecek Toplam Ücret:</div> -->