<div class="rounded-0 mt-4">
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Model Yılı</th>
            <th>Marka</th>
            <th>Açıklama</th>
            <th>Günlük Fiyat</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Şirket</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Tarihi</th>
        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.modelYear}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.description}}</td>
        <td>{{rental.dailyPrice}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</table>
</div>
