<div class="list-group rounded-0 mt-4">
  <div class="list-group-item sidebar-title">
     MENÜ
  </div>
  <a class="list-group-item list-group-item-action" routerLink="rentals">
     Kiralamalar
  </a>
  <a class="list-group-item list-group-item-action" routerLink="customers">
     Müşteriler
  </a>
  <a class="list-group-item list-group-item-action" routerLink="cars">
     Arabalar
  </a>
  <a class="list-group-item list-group-item-action" routerLink="brands">
     Markalar
  </a>
  <a class="list-group-item list-group-item-action" routerLink="colors">
     Renkler
  </a>
</div>
