<div class="content rounded-0 mt-4">
    <div class="col-md-12">
        <div class="color">
            <div class="card-header"><h5 class="title">Renk Güncelle</h5></div>
            <div class="card-body">
                <form [formGroup]="colorUpdateForm">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="colorId">Renk Id:</label>
                            <input type="number" id="colorId" formControlName="colorId" class="form-control" aria-label="Renk"/>
                        </div>
                        <div class="mb-3">
                            <label for="colorId">Renk Adı:</label>
                            <select id="colorId" formControlName="colorId" class="form-select" aria-label="Renk">
                                <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>
                            </select>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button class="btn btn-fill btn-warning btn-lg" (click)="update()">
                                Güncelle
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>