<div class="customer rounded-0 mt-4">
  <div class="panel-footer text-center">
    <span class="d-block p-1 bg-light text-black" style="margin-top: 25px"
      ><h5>Müşteriler</h5></span
    >
  </div>
  <table class="table"
  id="customer"
  class="table table-striped table-bordered"
  cellspacing="0"
  width="100%"
  style="text-align: center;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şirket Adı</th>
        <th>Findeks Puanı</th>
        <th>Güncelle</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.companyName }}</td>
      <td>{{ customer.findeks }}</td>
      <td ><button routerLink="/customers/update/{{customer.id}}"  type="button" class="btn btn-outline-dark">Güncelle</button></td>
    </tr>
  </tbody>
  </table>
</div>
